@import "../../theme/colors.scss";

.alignContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textSection {
  display: block;

  &.alignSelf {
    align-self: center;
  }

  & img {
    display: inline;
    width: 2vw;
    margin-left: 0.5vw;
  }
}

.alignContentReverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 15vh 0 15vh 5vw;
}

.moreInfoText {
  font-family: $medium;
  color: $gold;
  text-decoration: none;
}

.title {
  font-family: $semi-bold;
  font-size: 1.2rem;
  letter-spacing: 0.175em;
  color: $gold;
}

.subtitle {
  font-family: $bold;
  width: 65%;
  font-size: 2.625rem;
  color: #1e1e1e;
}

.contentText {
  font-family: $regular;
  width: 556px;
  height: 132px;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
}

.img1 {
  width: 35vw;
  height: auto;
  z-index: 10;
}

.blurredImg {
  position: absolute;
  left: 20px;
  filter: blur(50px);
  border-radius: 49px;
  z-index: -1;
  width: 500px;
  height: 550px;
}

.materials {
  display: flex;
  gap: 4vw;

  .secondaryPhotos {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 4vh;
  }
}

@media screen and (max-width: 768px) {
  .alignContent {
    flex-direction: column;
    align-items: center;
  }

  .textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin: 1rem auto;
  }

  .img1 {
    width: 50vw;
    border-radius: 5%;
  }
}
