@import "../../../theme/colors.scss";

.inputStyle {
  font-family: $regular;
  font-size: 1.1rem;
  background-color: transparent;
  color: white;
  min-width: 17vw;
  min-height: 5.7vh;
  border: none;
  outline: none;
  padding-left: 0.7rem;

  &::placeholder {
    color: #ffffff;
    opacity: 0.8;
  }
}
