@import '../../theme/colors.scss';

.positioning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  &.active{ 
    background-color:black;
    opacity: 0.9;
    z-index: 999;
  }
}
.menuIcon {
  display: none;
}

@media screen and (max-width: 768px){
  .menuIcon {
    display: block ;
    position: absolute;
    top:0;
    right: 0;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transform: translate(-100%, 40%);
  }
}
