@import "../../theme/colors.scss";

.cart {
  width: 23rem;
  height: 29rem;
  border-radius: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.cartBgImg {
  max-width: 100%;
  height: auto;
}

.reviewSection {
  width: 15rem;
  height: 14rem;
  margin-bottom: 2rem;
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;

  & h1 {
    font-family: $bold;
    font-size: 1.1rem;
  }

  & h6 {
    font-family: $regular;
    font-size: 0.8rem;
    opacity: 0.6;
  }
  
  & p {
    font-family: $regular;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.8;
    width: 13rem;
  }
}

.circle {
  background: #ffffff;
  margin-top: -1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  z-index: 2;

  & img {
    padding-top: 0.2rem;
    overflow: hidden;
    box-shadow: 5px;
  }

  .imgBlur {
    opacity: 0.7;
    filter: blur(13px);
    position: absolute;
    z-index: -1;
  }
}
